body{
    padding: 10px;
}

p{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    font-family: cursive;
}

h1,h3{
    text-align: center;
    margin-top: 10px;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 0px;
}

h3{
    margin-top: 5%;
    font-size: 60px;
}